<%= simple_form_for @book, :html => {:multipart => true } do |f|%>
    <%= select_tag :category_id, options_for_select(@categories), :prompt => "select an category" %>
    <%= f.input :title, label: "Book Title" %>
    <%= f.input :description %>
    <%= f.input :author, label: "Author" %>
    <% if @book.title.to_s.strip.empty? == false %>    
        <button type="submit" class="btn btn-outline-success">Update Book</button>
    <% else %>
        <button type="submit" class="btn btn-outline-success">Create Book</button>
    <% end %>
<% end %>